# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\github\news-crawler-for-bipartite-graph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
